<!-- Clients -->
<section id="clients" class="section-box bg-grey">

    <!-- Container -->
    <div class="container">

        <div class="row">

            <div class="clients-slider owl-carousel owl-theme">

                <!-- Client 1 -->
                <div class="client">
                    <a href="https://malachiwear.com">
                        <img src="~/images/clients/company-1.png" alt="Client 1">
                    </a>
                </div>

                <!-- Client 2 -->
                <div class="client">
                    <a href="#"><img src="~/images/clients/company-2.png" alt="Client 2"></a>
                </div>

                <!-- Client 3 -->
                <div class="client">
                    <a href="#"><img src="~/images/clients/company-3.png" alt="Client 3"></a>
                </div>

                <!-- Client 4 -->
                <div class="client">
                    <a href="#"><img src="~/images/clients/company-4.png" alt="Client 4"></a>
                </div>

                <!-- Client 5 -->
                <div class="client">
                    <a href="#"><img src="~/images/clients/company-5.png" alt="Client 5"></a>
                </div>

            </div>

        </div>

    </div>

</section>