<!-- Features -->
<section id="features">

    <!-- Container -->
    <div class="container">

        <!-- Section title -->
        <div class="row justify-content-center">
            <div class="col-12 col-md-10 col-lg-6">

                <div class="section-title text-center">
                    <h3>Awesome Features</h3>
                    <p>Treda comes standard with all the features you will ever need to run and manage your business. And we keep adding even more.</p>
                </div>

            </div>
        </div>

        <div class="row d-flex align-items-center">

            <!-- Left -->
            <div class="col-12 col-md-6 col-lg-4">

                <ul class="features-item">

                    <!-- Feature box -->
                    <li>
                        <div class="feature-box media">

                            <!-- Box icon -->
                            <div class="box-icon">
                                <div class="icon icon-ecommerce-bag"></div>
                            </div>

                            <!-- Box Text -->
                            <div class="box-text media-body align-self-center align-self-md-start">
                                <h4>Stock Management</h4>
                                <p>Manage the stock coming in and getting out of your business. With Treda, you will know in realtime how much of each item you have left as well as its value, among other things.</p>
                            </div>

                        </div>
                    </li>

                    <!-- Feature box -->
                    <li>
                        <div class="feature-box media">

                            <!-- Box icon -->
                            <div class="box-icon">
                                <div class="icon icon-ecommerce-dollar"></div>
                            </div>

                            <!-- Box Text -->
                            <div class="box-text media-body align-self-center align-self-md-start">
                                <h4>Debtors &amp;  Creditors</h4>
                                <p>Get to know who owes your businesses and who your business owes. You also have access to client statements with ability to share them on email and Whatsapp.</p>
                            </div>

                        </div>
                    </li>

                    <!-- Feature box -->
                    <li>
                        <div class="feature-box media">

                            <!-- Box icon -->
                            <div class="box-icon">
                                <div class="icon icon-ecommerce-cart"></div>
                            </div>

                            <!-- Box Text -->
                            <div class="box-text media-body align-self-center align-self-md-start">
                                <h4>Point of sale</h4>
                                <p>We have native desktop and mobile applications built to manage the point of sale. This applications help your team focus on the most critical day-to-day aspsects of your operations</p>
                            </div>

                        </div>
                    </li>

                </ul>
            </div>

            <!-- Center -->
            <div class="col-12 col-lg-4 d-none d-lg-block">
                <div class="features-thumb text-center">
                    <img src="images/features/awesome-features.png" alt=""/>
                </div>
            </div>

            <!-- Right -->
            <div class="col-12 col-md-6 col-lg-4">

                <ul class="features-item">

                    <!-- Feature box -->
                    <li>
                        <div class="feature-box media">

                            <!-- Box icon -->
                            <div class="box-icon">
                                <div class="icon icon-basic-sheet-multiple"></div>
                            </div>

                            <!-- Box Text -->
                            <div class="box-text media-body align-self-center align-self-md-start">
                                <h4>Vouchers</h4>
                                <p>For both cash and credit purchase, Treda provides users a way to create, view, print and share vouchers. Vouchers are serialized on top of being customizable by the user.</p>
                            </div>

                        </div>
                    </li>

                    <!-- Feature box -->
                    <li>
                        <div class="feature-box media">

                            <!-- Box icon -->
                            <div class="box-icon">
                                <div class="icon icon-ecommerce-receipt"></div>
                            </div>

                            <!-- Box Text -->
                            <div class="box-text media-body align-self-center align-self-md-start">
                                <h4>Receipts</h4>
                                <p>For both cash and credit sales, Treda provides users a way to create, view, print and share receipts. Receipts are serialized on top of being customizable by the user.</p>
                            </div>

                        </div>
                    </li>

                    <!-- Feature box -->
                    <li>
                        <div class="feature-box media">

                            <!-- Box icon -->
                            <div class="box-icon">
                                <div class="icon icon-ecommerce-sales"></div>
                            </div>

                            <!-- Box Text -->
                            <div class="box-text media-body align-self-center align-self-md-start">
                                <h4>Invoices</h4>
                                <p>Create, print and share both sales and purchase invoices. Treda allows you to create recurring invoices, share invocies using email and customize their look and feel.</p>
                            </div>

                        </div>
                    </li>

                </ul>
            </div>

        </div>

    </div>

</section>

<!-- Parallax video -->
@* <section id="parallax-video" class="parallax" data-image="images/parallax/video.jpg">

    <!-- Overlay -->
    <div class="overlay"></div>

    <!-- Container -->
    <div class="container">

        <div class="row">

            <div class="video-btn wow fadeInUp" data-wow-offset="10" data-wow-duration="1s" data-wow-delay="0s">

                <!-- Play button -->
                <a href="https://www.youtube.com/embed/hs1HoLs4SD0" data-rel="lightcase" class="play-btn">
                    <i class="fas fa-play"></i>
                </a>

                <span class="video-text">Watch This Video</span>

            </div>

        </div>

    </div>

</section> *@