<!-- Overview -->
<section id="overview" class="bg-grey">

    <!-- Container -->
    <div class="container">

        <!-- Track time -->
        <div class="row">

            <!-- Content -->
            <div class="col-12 col-lg-6 offset-lg-1 order-lg-last res-margin">

                <!-- Section title -->
                <div class="section-title text-center text-lg-left">
                    <h3>Track Your Business From Anywhere</h3>
                    <p>You have access to everything you need to know about your business in the palm of your hands, in real time.</p>
                </div>

                <!-- Items -->
                <div class="overview-item">

                    <!-- Item 1 -->
                    <div class="overview-box d-flex flex-wrap">

                        <!-- Icon -->
                        <div class="icon icon-basic-compass"></div>

                        <!-- Content -->
                        <div class="content">
                            <h6 class="font-weight-bold mb-2 mt-0">Easy to Use</h6>
                            <p>Treda is designed to be simple and easy for you to use. You don't need to be an accountant to use Treda.</p>
                        </div>

                    </div>

                    <!-- Item 2 -->
                    <div class="overview-box d-flex flex-wrap">

                        <!-- Icon -->
                        <div class="icon icon-basic-helm"></div>

                        <!-- Content -->
                        <div class="content">
                            <h6 class="font-weight-bold mb-2 mt-0">Monitor &amp; Manage</h6>
                            <p>Know your daily sales in realtime. Keep track of your stock levels and plan to restock before items completely run out.</p>
                        </div>

                    </div>

                    <!-- Item 3 -->
                    <div class="overview-box d-flex flex-wrap">

                        <!-- Icon -->
                        <div class="icon icon-basic-link"></div>

                        <!-- Content -->
                        <div class="content">
                            <h6 class="font-weight-bold mb-2 mt-0">Stay Connected</h6>
                            <p>Keep in the know of what is happening in your business even when you are on holiday anywhere in the world.</p>
                        </div>

                    </div>

                </div>

            </div>

            <!-- Image -->
            <div class="col-12 col-lg-5 order-lg-first text-sm-center">
                <img src="images/overview/track-time.png" alt=""/>
            </div>

        </div>

        <div class="empty-100"></div>

        <!-- Daily schedule -->
        <div class="row">

            <!-- Content -->
            <div class="col-12 col-lg-6 res-margin">

                <!-- Section title -->
                <div class="section-title text-center text-lg-left">
                    <h3>Built For Your Daily Schedule</h3>
                    <p>Treda was built to help you take care of your daily schedules in a more efficient and organised way.</p>
                </div>

                <!-- List -->
                <ul class="overview-list">

                    <li>
                        <p><i class="fa-li fas fa-check"></i>Create your tasks for the day.</p>
                    </li>

                    <li>
                        <p><i class="fa-li fas fa-check"></i>Send messages to your customers.</p>
                    </li>

                    <li>
                        <p><i class="fa-li fas fa-check"></i>See what items you need to restock.</p>
                    </li>

                    <li>
                        <p><i class="fa-li fas fa-check"></i>See your daily sales and expenses.</p>
                    </li>

                    <li>
                        <p><i class="fa-li fas fa-check"></i>Generate invoices and receipts for your customers.</p>
                    </li>

                </ul>

                <!-- Button -->
                <p class="text-center text-lg-left">
                    <a href="#" class="btn">Learn More</a>
                </p>

            </div>

            <!-- Image -->
            <div class="col-12 col-lg-5 offset-lg-1 text-sm-center">
                <img src="~/images/banner/single-welcome.png" alt=""/>
            </div>

        </div>

    </div>

</section>