

<!-- Team -->
<section id="team">

    <!-- Container -->
    <div class="container">

        <!-- Section title -->
        <div class="row justify-content-center">
            <div class="col-12 col-md-10 col-lg-6">

                <div class="section-title text-center">
                    <h3>Supported Platforms</h3>
                    <p>Treda is a cross-platform solution. You can run it on desktops, laptops, tablets and smart phones.</p>
                </div>

            </div>
        </div>

        <div class="row">

            <!-- Member 1 -->
            <div class="col-12">
                <div class="team-member res-margin">
                    <div class="team-image">
                        <img src="images/platforms/cross-platform.png" alt=""/>
                    </div>
                </div>
            </div>

            <!-- Member 2 -->
            <!--
            <div class="col-12 col-md-6 col-lg-3">
                <div class="team-member res-margin">
                    <div class="team-image">
                        <img src="images/platforms/android.jpeg" alt=""/>
                    </div>
                    <div class="team-details">
                        <h5 class="title">Android</h5>
                    </div>
                </div>
            </div>
            -->

        </div>

    </div>

</section>