<style>
    .price-per-year{
        font-weight: 100;
        font-size: 0.7em;
        color: #CCC;
        display: block;
    }
</style>

<!-- Pricing -->
<section id="pricing" class="bg-grey">

    <!-- Container -->
    <div class="container">

        <!-- Section title -->
        <div class="row justify-content-center">
            <div class="col-12 col-md-10 col-lg-6">

                <div class="section-title text-center">
                    <h3>Choose your Treda Pricing Plan. Try it for 30 days.</h3>
                    <p>Treda is for everyone. Whether you have a small retail shop or a large wholesale business, we got you covered. Most of our clients love the Standard plan.</p>
                </div>

            </div>
        </div>

        <div class="row align-items-center pricing-plans">

            <!-- Plan 1 -->
            <div class="col-12 col-lg-4 res-margin">

                <div class="price-table">

                    <div class="icon icon-software-layers2"></div>
                    <h3 class="plan-type">Starter Pack</h3>
                    <h2 class="plan-price">UGX 18,500/mo<br/>
                        <span class="price-per-year">UGX 198,000/yr</span>
                    </h2>


                    <ul class="list-unstyled plan-list">
                        <li>Inventory Module</li>
                        <li>CRM Module</li>
                        <li>Basic Accounting Module</li>
                        <li>Web, Android &amp; iOS Apps</li>
                    </ul>

                    <a class="btn" href="https://app.treda.eygo.biz/signup?pack=starter">Sign Up</a>

                </div>

            </div>

            <!-- Plan 2 -->
            <div class="col-12 col-lg-4 res-margin">

                <div class="price-table plan-popular mb-4 mb-sm-5 mb-lg-0">

                    <div class="icon icon-basic-heart"></div>
                    <h3 class="plan-type">Standard</h3>
                    <h2 class="plan-price">UGX 35,900/mo
                        <span class="price-per-year">UGX 406,800/yr</span>
                    </h2>

                    <ul class="list-unstyled plan-list">
                        <li>Barcode Scanning</li>
                        <li>Advanced Accounting</li>
                        <li>Up to 2 Businesses</li>
                        <li>Mobile Money Integration</li>
                    </ul>

                    <a class="btn" href="https://app.treda.eygo.biz/signup?pack=standard">Sign Up</a>

                    <div class="card-ribbon">
                        <span>Popular</span>
                    </div>

                    <div class="mt-4">
                        <small>* Includes everything from the Starter Pack</small>
                    </div>

                </div>

            </div>

            <!-- Plan 3 -->
            <div class="col-12 col-lg-4">

                <div class="price-table">

                    <div class="icon icon-weather-sun"></div>
                    <h3 class="plan-type">Professional</h3>
                    <h2 class="plan-price">
                        <span>UGX 89,900/mo</span>
                        <span class="price-per-year">UGX 999,900/yr</span>
                    </h2>

                    <ul class="list-unstyled plan-list">
                        <li>Unlimited Businesses</li>
                        <li>Payment Integration</li>
                        <li>Email &amp; SMS Notifications</li>
                        <li>EFRIS Integration</li>
                    </ul>

                    <a class="btn" href="https://app.treda.eygo.biz/signup?pack=pro">Sign Up</a>

                    @* <div class="mt-4">
                        <small>* Includes everything from the Standard Plan</small>
                    </div> *@

                </div>

            </div>

        </div>

        <!-- Mobile phone -->
        @* <div class="row">

            <div class="col-12 col-lg-8 offset-lg-2 mobile-phone wow fadeInUp" data-wow-offset="10" data-wow-duration="1s" data-wow-delay="0.9s">
                <img src="images/mobile-phone.png" alt=""/>
            </div>

        </div> *@

    </div>

</section>